@use './variables.module.scss' as variables;

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &::before,
    &::after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn(variables.$blue)
}

.light-blue-btn {
  @include colorBtn(variables.$light-blue)
}

.red-btn {
  @include colorBtn(variables.$red)
}

.pink-btn {
  @include colorBtn(variables.$pink)
}

.green-btn {
  @include colorBtn(variables.$green)
}

.tiffany-btn {
  @include colorBtn(variables.$tiffany)
}

.yellow-btn {
  @include colorBtn(variables.$yellow)
}

.pan-btn {
  position: relative;
  display: inline-block;
  padding: 14px 36px;
  font-size: 14px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: 600ms ease all;

  &:hover {
    background: #fff;

    &::before,
    &::after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
    content: '';
    transition: 400ms ease all;
  }

  &::after {
    top: inherit;
    right: inherit;
    bottom: 0;
    left: 0;
  }
}

.custom-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  appearance: none;
  cursor: pointer;
  outline: 0;
  background: #fff;
  border-radius: 4px;
}
